nav {
  position: fixed;
  top: 0%;
  background-color: #222831;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
}

body {
  background-color: #222831;
  margin: 0px;
}

nav a {
  padding: 15px 15px;
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
}
.navlink {
  padding: 10px;
}
.intolinks {
  padding: 15px;
}
.intolinks:hover {
  background-color: #333d4d;
  border-radius: 20px;
  color: #222831;
  font-size: medium;
  font-weight: bolder;
}

#home {
  padding-top: 2px;
  font-size: x-large;
}

#nametext {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 80px;
  margin-top: 300px;
  font-weight: bolder;
}
@media (min-width: 100px) {
  #nametext {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  #nametext {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  #nametext {
    font-size: 80px;
  }
}
@media (min-width: 1200px) {
  #nametext {
    font-size: 100px;
  }
}

#about {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 80px;
  font-weight: bolder;
  margin-top: 350px;
  padding-top: 100px;
}
@media (min-width: 100px) {
  #about {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  #about {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  #about {
    font-size: 80px;
  }
}
@media (min-width: 1200px) {
  #about {
    font-size: 100px;
  }
}
#aboutinfo {
  display: flex;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 20px;
  text-align: justify;
  justify-content: center;
  padding: 0px 150px;
  margin-top: 15px;
}
@media (min-width: 100px) {
  #aboutinfo{
    font-size: 5px;
  }
}
  @media (min-width: 768px) {
    #aboutinfo{
      font-size: 4px;
    }
}
@media (min-width: 992px) {
  #aboutinfo{
    font-size: 10px;
  }
}
@media (min-width: 1200px) {
  #aboutinfo{
    font-size: 20px;
  }
}
.card {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
}
.prog {
  padding: 10px 10px;
  background-color: #333d4d;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  color: white;
  font-family: "Poppins", sans-serif;
  border-radius: 7px;
  height: 230px;
  width: 300px;
  text-align: center;
}
.game {
  padding: 10px 10px;
  background-color: #333d4d;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  color: white;
  font-family: "Poppins", sans-serif;
  border-radius: 7px;
  height: 230px;
  width: 300px;
  text-align: center;
}
.htmlImage {
  height: 100px;
  width: 100px;
  align-items: center;
}
.cssImage {
  width: 100px;
  height: 100px;
  align-items: center;
}
.robloximg {
  width: 100px;
  height: 100px;
  align-items: center;
}
.mineimg {
  width: 100px;
  height: 100px;
  align-items: center;
}
#education {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 70px;
  font-weight: bolder;
  margin-top: 100px;
  padding-top: 100px;
}
@media (min-width: 100px) {
  #education {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  #education {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  #education {
    font-size: 70px;
  }
}
@media (min-width: 1200px) {
  #education {
    font-size: 100px;
  }
}
.edutext {
  display: flex;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 30px;
  text-align: justify;
  justify-content: center;
  padding: 0px 150px;
  margin-top: 15px;
}
@media (min-width: 100px) {
  .edutext{
    font-size: 5px;
  }
}
  @media (min-width: 768px) {
    .edutext{
      font-size: 10px;
    }
}
@media (min-width: 992px) {
  .edutext{
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .edutext{
    font-size: 40px;
  }
}
#contact {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 80px;
  font-weight: bolder;
  margin-top: 100px;
  padding-top: 100px;
}
@media (min-width: 100px) {
  #contact {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  #contact {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  #contact {
    font-size: 70px;
  }
}
@media (min-width: 1200px) {
  #contact {
    font-size: 100px;
  }
}
.img {
  width: 150px;
  height: 150px;
}
.contimg {
  text-align: center;
  margin-top: 60px;
}
.imgcon:hover {
  filter: invert(22%) sepia(16%) saturate(6569%) hue-rotate(147deg)
    brightness(101%) contrast(103%);
}
.imgcon {
  padding: 20px;
}
.imgcondis:hover {
  filter: invert(22%) sepia(16%) saturate(6569%) hue-rotate(147deg)
    brightness(101%) contrast(103%);
}
